# Seminar 1
## Introduction to Python

1. Write a function that takes in a string and returns a list of words in the string.

In [3]:
# Alexander Zaytsev
def f(x): return x.split()
f('Let us start once again')

['Let', 'us', 'start', 'once', 'again']

In [16]:
# Colorful Coconut
def string_sep(a):
    if type(a) == str:
        result = a.split()
    else:
        result = False
    return result
string_sep('Let us start once again')

2.	Write a function that takes in a string and returns a list of words in the string except the first and last.

In [6]:
# Svetlichnyy Nikodim
def xuy(x):
    lol = x.split()
    lol.remove(lol[0])
    lol.remove(lol[-1])
    return(lol)
xuy('a b c d')

['b', 'c']

In [8]:
# Alekhin Kirill
def f(s):
    s = s.split()
    s = s[1:]
    s = s[:-1]
    return s
f('a b c d')

['b', 'c']

In [9]:
# Colorful Coconut
def str_sep(a):
    if type(a) == str:
        result = a.split()
        result = result[1:-1]
    else:
        result = False
    return result
str_sep('a b c d')

['b', 'c']

In [10]:
# Frolova Daryana
def new_string_to_list(a):
    l = a.split()
    return(l[1:-1])
new_string_to_list('a b c d')

['b', 'c']

In [13]:
def strli(string):
    return input().split()
strli('a b c d')

'a b c d'

["'a", 'b', 'c', "d'"]

3.	Write a function which inputs a string and an integer n, and split it into items and returns n-th word

In [18]:
# Fedorova Tatyana
def f(x,n):
    return x.split()[n-1]
f('Let us start once again',2)

'us'

4.	Write a function which inputs two strings, splits the first one and add the second string to the list

In [20]:
# Colorful Coconut
def f(a,b):
    return a.split() + [b]
f('a b c d','kjhgf')

['a', 'b', 'c', 'd', 'kjhgf']

In [21]:
# Akimov Nikita
def t4(str1, str2):
    result = str1.split()
    result.append(str2)
    return result
t4('a b c d','kjhgf')

['a', 'b', 'c', 'd', 'kjhgf']

5.	Write a function which inputs a string, makes a new string reversing the first one

In [23]:
# Colorful Coconut
def g(a):
    return a.split()[::-1]
g('Let us start once again')

['again', 'once', 'start', 'us', 'Let']

In [2]:
# Skorobogatov Alexander (to demonstrate method reverse)
def f(s):
    l = s.split()
    l.reverse()
    return ' '.join(l)
f('Let us start once again')

'again once start us Let'

### Cycles

6.	Function inputs string containing names divided by spaces. For each name one should obtain Hello, name!

In [27]:
# Fedorova Tatyana
def f(a):
    names_list=a.split()
    for i in names_list:
        print('Hello, '+ i + '!')
f('Bob Rob Alice Alex John')

Hello, Bob!
Hello, Rob!
Hello, Alice!
Hello, Alex!
Hello, John!

In [31]:
# Akimov Nikita
def t6(string):
    return list(map(lambda x: "Hello, " + x + "!", string.split()))
t6('Anya Lesha Ksusha Masha')

['Hello, Anya!', 'Hello, Lesha!', 'Hello, Ksusha!', 'Hello, Masha!']

In [4]:
# Bakuteeva Darya
def f(names):
    list = ['Hello, ' + i +'!' + '\n' for i in names.split()]
    return ''.join(list)
print(f('n m h g'))

Hello, n!
Hello, m!
Hello, h!
Hello, g!

7.	Function inputs two integers A and B and prints all the integers between A and B as a column

In [33]:
# Titov Egor
def f(a, b):
    for i in range(a, b+1):
        print(i)
f(1,6)

1
2
3
4
5
6

In [35]:
# # Alexander Zaytsev
def f(a, b):
    n = a
    while n <= b:
        print(n)
        n = n + 1 
f(1,6)

1
2
3
4
5
6

8.	Function inputs a string with integers divided by spaces and returns their product

In [9]:
# colorful
def r(s):
    res = 1
    for i in s.split():
        res *= int(i)
    return res
r('1 2 3 4 5')

120

In [8]:
# Rogov Ivan 
def prod(st):
    spl = st.split()
    a=1
    for itg in spl:
        a=a*int(itg)
    return a
prod('2 3 4')

24

In [23]:
# Skorobogatov Alexander (the use of numpy)
import numpy as np
def s_prod(s):
    a = s.split()
    x = []
    for i in a:
        x.append(int(i))
    return np.prod(x)
s_prod('1 2 3 4 5')

120

9.	Function inputs an integer n and print the multiplication table up to n

In [44]:
# Titov Egor
def f(n):
    print(*[f'{i} x {n} = {i*n}' for i in range(0, n+1)], sep='\n')
f(4)

0 x 4 = 0
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16

In [46]:
# colorful
import numpy as np
M1 = np.array
def w(n):
    matrix = []
    for i in range(1,n+1):
        lst = []
        for j in range(1,n+1):
            lst.append(str(i)+'x'+str(j)+'='+str(i*j))
        matrix.append(lst)
    M = np.array(matrix)
    return M
w(4)

array([['1x1=1', '1x2=2', '1x3=3', '1x4=4'],
       ['2x1=2', '2x2=4', '2x3=6', '2x4=8'],
       ['3x1=3', '3x2=6', '3x3=9', '3x4=12'],
       ['4x1=4', '4x2=8', '4x3=12', '4x4=16']], dtype='<U6')

In [37]:
# Rabchevskiy Daniil
def f(n):
    for i in range(1, int(n)+1):
        for j in range(1, int(n)+1):
            print(j*i, end = '\t')
        print('\n')    
f(5)

1	2	3	4	5

2	4	6	8	10

3	6	9	12	15

4	8	12	16	20

5	10	15	20	25

In [40]:
# Skorobogatov Alexander (matrix in the form of looping lists)
def m(n):
    for i in range(1,n+1):
        mat = []
        for j in range(1,n+1):
            mat.append(i*j)
        print(*mat)
m(5)

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25